<!doctype html>
<html lang="en">

<%- include('../partials/head') -%>

<body style="background-color: #212529;">
  <main>

    <section class="text-center container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto mt-1">
          <h1 class="fw-light" style="color: white;">Stream Bay </h1>
          <p class="lead text-muted">Entertainment freedom 😎</p>
        </div>
      </div>
    </section>

    <div class="album py-3">
      <div class="container">

        <% leaguesWithEvents.forEach(league => { %>
          <div style="display: inline-block;">
            <img src=<%=league.info.strBadge %> width="60px"/>
            <span style="color: white;">
              <%= league.info.strLeagueAlternate %>
            </span>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-2 g-3">
            <% league.events.forEach(event=> { %>
              <div class="col">
                <div class="card shadow-sm">
                  <% if (event.strThumb) { %>
                    <img class="card-img-top" src="<%= event.strThumb %>" alt="<%= event.strEvent%>">
                    <% } else { %>
                      <svg class="bd-placeholder-img card-img-top" role="img" aria-label="<%= event.strEvent %>"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                          <%= event.strEvent %>
                        </text>
                      </svg>
                      <% } %>
                        <div class="card-body">
                          <p class="card-text">
                            <%= event.strEvent %> @ <%= event.strTime %>
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <% event.channels.forEach(channel => { %>
                                <a class="btn btn-sm btn-primary" target='_blank'
                                href=<%=`/player?channel=${Buffer.from(channel.strChannel).toString('base64')}` %> >View</a>
                              <% }) %>
                            </div>
                            <% if (event.strStatus==='Match Finished' ) { %>
                              <span><b>Finished:</b>
                                <%= `${event.intHomeScore} - ${event.intAwayScore}` %>
                              </span>
                              <% } else if ( Date.now() >= new Date(event.strTimestamp).getTime()) { %>
                                <div class="spinner-grow text-danger" role="status"></div>
                                <% } %>
                          </div>
                        </div>
                </div>
              </div>
              <% }) %>
            <% }) %>
          </div>
      </div>
    </div>

  </main>
</body>


</html>
